<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>R</string>
		<string>B</string>
		<string>a</string>
		<string>edieresis</string>
		<string>g</string>
		<string>t</string>
		<string>p</string>
		<string>o</string>
		<string>r</string>
		<string>s</string>
		<string>u</string>
		<string>e</string>
		<string>i</string>
		<string>h</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>q</string>
		<string>d</string>
		<string>at</string>
		<string>b</string>
		<string>j</string>
		<string>c</string>
		<string>period</string>
		<string>A</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>f</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>k</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>quotesingle</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>comma</string>
		<string>exclam</string>
		<string>hyphen</string>
		<string>plus</string>
		<string>equal</string>
		<string>space</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>slash</string>
		<string>ampersand</string>
	</array>
</dict>
</plist>
